* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

header {
    padding: 20px;
    background-color:darkslategrey;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 60px;
}

nav {
    padding-top: 40px;
    color: white;
    float: right;
    font-size: 30px;

}

nav ul li {
    display: inline-flex;
    margin-left: 15px;
} 

a {
    color: white;
}

.desk {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/desk.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
        margin-left: 20px;
        padding: 15px;
        clear: both;
        float: left;
        width: 35%;
        height: 800px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: darkslategray;
        border: 30px;
        border-color: white;
        border-style: inset;
}

.aboutme h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    height: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.aboutme p {
    
    font-size: 30px;
    color: white;
    text-align: left;
    padding: 10px;
    width: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 40px;
    
}
