* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

header {
    padding: 20px;
    background-color:darkslategrey;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 60px;
}

nav {
    padding-top: 40px;
    color: white;
    float: right;
    font-size: 30px;

}

nav ul li {
    display: inline-flex;
    margin-left: 15px;
} 

a {
    color: white;
}

.desk {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/desk.jpg");
    background-size: cover;
    background-position: center;
}

.aboutme {
        margin-left: 20px;
        padding: 15px;
        clear: both;
        float: left;
        width: 35%;
        height: 850px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: darkslategray;
        border: 30px;
        border-color: white;
        border-style: inset;
       
}

.aboutme h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    height: 100px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 10px;
    border-style: groove;
    border-color: white;
   
}


.aboutme p {
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    text-align: left;
    padding: 10px;
    width: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 40px;
    text-shadow: 2px 2px 30px;
    
}

.mywork {
    float: right;
    width:60%;
    height: 500px;
    background-color: darkslategray;
    margin-right: 20px;
    border: 25px;
    border-color: white;
    border-style: inset;
}

.mywork h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    
}


.mywork h3 {
    margin-top: 30px;
   margin-left: 30px;
   width: 33%;
   height: 300px;
   background-image: url("../images/github.jpg");
   background-position: center;
   color: white;
   text-align: center;
   padding-top: 20px;
   box-shadow: 2px 2px 30px;
}

.mywork h4 {
    margin-top: 30px;
    margin-left: 30px;
    width: 33%;
    height: 150px;
    background-position: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    box-shadow: 2px 2px 30px;

}

.contactinfo {
    margin-top: 30px;
    float: right;
    width:60%;
    height: 320px;
    background-color: darkslategray;
    margin-right: 20px;
    border: 25px;
    border-color: white;
    border-style: inset;

}

.contactinfo h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: block;
    margin-bottom: 60px;
}

.contactinfo h3 {
    display: inline;
    color: white;
    margin: 25px;
    font-size: 23px;
    margin-left: 35px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
}
